:root {
  --blue: #357ae8;
  --white: #fefefe;
  --black: #141414;
  --grey: #5e5c5c;
}
.container {
  width: 1280px;
  margin: 0 auto;
}
h1 {
  color: var(--white);
  font-size: 50px;
  font-weight: 500;
  line-height: 1.2;
  margin: 0px;
  padding-top: 250px;
}
h2 {
  color: var(--white);
  font-size: 25px;
  font-weight: 100;
  margin: 0px;
  line-height: 2;
}
h3 {
  font-size: 25px;
  margin: 0px;
  font-weight: 400;
  color: var(--grey);
  margin-bottom: 30px;
}
h4 {
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 2px;
  line-height: 1.8;
  margin: 0;
}
section {
  margin: 100px 0px;
}

@media screen and (max-width: 1559px) {
  .container {
    width: 1100px;
  }
}
@media screen and (max-width: 1279px) {
  .container {
    width: calc(100% - 100px);
  }
  h1 {
    font-size: 60px;
  }
  h2 {
    font-size: 40px;
  }
}

@media screen and (max-width: 1023px) {
  h3 {
    font-size: 20px;
  }
  h4{
    font-size: 16px;
  }
}

@media screen and (max-width: 767px) {
  h1 {
    font-size: 38px;
  }
  h2 {
    font-size: 28px;
  }
  .container {
    width: calc(100% - 60px);
  }
  h3 {
    font-size: 18px;
  }
  h4 {
    font-size: 13px;
  }
}
