.cart_dropdown {
  position: absolute;
  width: 240px;
  height: 340px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  border: 1px solid var(--black);
  background-color: var(--white);
  top: 50px;
  right: 0px;
  z-index: 5;
}
.empty_message {
  font-size: 18px;
  margin: 50px auto;
}

.cart_items {
  height: 240px;
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.cart_dropdown button {
  margin-top: auto;
}
.cart_dropdown .total {
  font-size: 20px;
}
@media screen and (max-width: 1439px) {
  .cart_dropdown {
    right: 0px;
  }
}
